/* Source:
https://stackoverflow.com/questions/27874354/lemon-shape-css-and-html */

body {
  background-color: #280f34c7;
  margin: 0;
  margin-right: -50px;
  margin-top: -50px;
}

.container {
  position: relative;
  float: left;
  width: 250px;
  height: 250px;

}

.lemon {
  margin: 80px;
  width: 200px;
  height: 200px;
  background-color: #FFFA40;
  /* border: 4px solid #FFF150; */
  border-radius: 20px 140px 40px 140px;
  box-shadow: 8px 0 0 4px #827f3f61;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  position: absolute;
  z-index: 2;
  top: 10vh;
  float:left;
}

.face {
  float: left;
  height: 120px;
  width: 120px;
  margin: 210px 120px 200px 120px;
  position: absolute;
  z-index: 3;
}
