body {
  background-color: #280F34;
  margin: 0;
  transform: scale(1.2);
}

.scales {
  position: relative;
}

.scales div {
  width: 8vw;
  height: 10vh;
  background-color: #BFF4ED66;
  margin-top: -8vh;
  border-radius: 50% 50% 0 0;
}

.left div {
  float: left;
}

.right div {
  float: right;
}

#color1 {
  background-color: #B30753;
}

#color2 {
  background-color: #fffee6;
}

@keyframes fade{
  from {
    background-color: #b2ddd5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -6vh;
  }
  to {
    background-color: #000000;
  }
}

/* #color1:hover, #color2:hover {
  transition: scale(1.5);
} */

.scales div:hover {
  animation-name: fade;
  animation-duration: 2s;
}
