body {
  background-color: #E99B9B;
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  margin: 10px 20px 150px 20px;
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% auto;
}

/* .grid-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
} */

#left-column {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
}

#right-column {
  position: relative;
  margin: auto;
}

.sec{
  background-color: #FFD8D8;
  width: 80%;
  align-items: center;
  margin: 80px auto 0px auto;
  padding: 20px 30px 40px 30px;
  min-width: 500px;
  max-width: 800px;
  box-shadow: 10px 10px 20px #50595c26;
  /* border-radius: 0px 0px 10px 10px; */
}

.sectitle {
  text-align: center;
  margin: -70px auto 30px auto;
  background-color: transparent;
}

h1, h2, a{
  font-family: 'Open Sans', sans-serif;
}

h2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 5px 20px;
  background-color: #f3b8b87d;
  transform: rotate(-2deg);
  font-weight: 800;
  font-size: 30px;
  font-style: italic;
  color: #302939;
  text-shadow: 2px 2px #50595c66;
}

h3 {
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 5px;

}

a {
  color: #302939;
  text-decoration: none;
}

p {
  color: #50595C;
}

hr {
  width: 40%;
  border: 0;
  color: #9E9E9E44;
  background-color: #9E9E9E44;
  height: 1px;
  margin: 40px auto 20px auto;
}

div .img-titles {
  text-align: center;
}

.img-titles {
  margin-left: auto;
  margin-right: auto;
}

.img-square img {
  width:12%;
  height:auto;
  border:0;
  margin: 3%;
  box-shadow: 2px 2px 5px #50595c26;
}

.img-horz img {
  width:25%;
  height:auto;
  border:0;
  margin: 3%;
  box-shadow: 2px 2px 5px #50595c26;

}

.img-titles img:hover {
  -webkit-filter: hue-rotate(240deg) saturate(5);
}

.image-full {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
